.activity {
    position: relative;
    padding: var(--spacing-large);
    background-color: var(--color-neutral-100);
    border-radius: var(--radius-small);
    aspect-ratio: 835/320;
}

.activity h2 {
    position: absolute;

    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-neutral-900);
}

/* .activityChart {
    aspect-ratio: 835 / 320;
} */
