.keyDatas {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.dataCard {
    display: flex;
    align-items: center;
    flex: 1;
    gap: var(--spacing-medium);
    padding: var(--spacing-medium);
    background-color: var(--color-neutral-100);
    border-radius: var(--radius-small);
}

.dataCard__data {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--spacing-small);
}

.dataCard__value {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--color-neutral-900);
}

.dataCard__title {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-neutral-700);
}

@media (min-width: 75rem) {
    .keyDatas {
        gap: var(--spacing-large);
    }

    .dataCard {
        gap: var(--spacing-large);
        padding: var(--spacing-large);
    }

    .dataCard__value {
        font-size: 1.25rem;
    }
}
