.sideNav {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1rem;
    background-color: #020203;
    color: #fff;
}

.sidebar__nav {
    margin-block: auto;
    color: var(--color-primary);
}

.sideNav__credit {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 0.75rem;
}
