.score {
    position: relative;
    padding: var(--spacing-medium);
    background-color: var(--color-neutral-100);
    border-radius: var(--radius-small);
    aspect-ratio: 1 / 1;
}

.score h2 {
    position: absolute;

    top: var(--spacing-medium);
    left: var(--spacing-medium);

    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-neutral-900);
}

.score .recharts-surface {
    background-image: radial-gradient(white, white 52%, transparent 52%);
}

@media (min-width: 75rem) {
    .score {
        padding: var(--spacing-large);
    }

    .score h2 {
        top: var(--spacing-large);
        left: var(--spacing-large);
    }
}
