#root {
    width: 100vw;
    width: 100svw;
    margin-inline: auto;
    min-height: 100vh;
    min-height: 100svh;
}

/* Layout */
#root {
    display: grid;
    grid-template-areas:
        "nav nav"
        "aside main";
    grid-template-columns: 6.5rem 1fr;
    grid-template-rows: 5.5rem 1fr;
}
